<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
            <exclude>
                <directory>./src/assets</directory>
                <directory>./src/controllers</directory>
                <directory>./src/migrations</directory>
                <directory>./src/views</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>